@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://www.patreon.com/MrPornWriter" target="_blank" class="ml-md-auto">

            <tr>
                <img width="32" src="https://c5.patreon.com/external/logo/downloads_logomark_color_on_white@2x.png" />

                join Patreon
            </tr>

        </a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


